#procaptcha-message,
#setting-error-settings_updated {
	max-width: 760px;
	box-sizing: border-box;
}

#procaptcha-options table tbody {
	background: #fff;
}

#procaptcha-options table tbody tr {
	display: grid;
	align-self: start;
}

#procaptcha-options table tbody tr th {
	color: #5c6f8a;
}

#procaptcha-options table tbody tr td {
	padding: 0;
	margin: 0;
	position: relative;
}

#procaptcha-options .procaptcha {
	margin-bottom: 0;
}

#procaptcha-options.procaptcha-general h3 {
	display: flex;
	justify-content: space-between;
	max-width: 760px;
	background: white;
	box-sizing: border-box;
	padding: 15px 20px;
	margin: 1.5em 0 0;
	color: #5c6f8a;
	cursor: pointer;
}

.procaptcha-section-header-toggle:after {
	content: "\f142";
	font: normal 20px dashicons;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h3.closed .procaptcha-section-header-toggle:after {
	content: "\f140";
}

#procaptcha-options.procaptcha-general h3 + table {
	position: relative;
	max-width: 760px;
	margin-top: 0;
}

#procaptcha-options.procaptcha-general h3.closed + table {
	display: none;
}

#procaptcha-options.procaptcha-general h3 + table:before {
	content: '';
	position: absolute;
	top: 0;
	width: calc(100% - 40px);
	max-width: 720px;
	margin: 0 20px;
	border-bottom: 1px solid #c3c4c7;
}

/* Section Keys */
.procaptcha-section-keys + table tbody {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		"site-key site-key secret-key secret-key"
		"sample-procaptcha sample-procaptcha check-config reset-notifications";
	gap: 10px 20px;
	padding: 15px 20px;
}

.procaptcha-section-keys + table tbody th {
	width: auto;
}

.procaptcha-section-keys + table tbody tr.procaptcha-general-site-key {
	grid-area: site-key;
}

.procaptcha-section-keys + table tbody tr.procaptcha-general-secret-key {
	grid-area: secret-key;
}

.procaptcha-section-keys + table tbody tr.procaptcha-general-sample-procaptcha {
	grid-area: sample-procaptcha;
}

.procaptcha-section-keys + table tbody tr.procaptcha-general-check-config {
	grid-area: check-config;
}

.procaptcha-section-keys + table tbody tr.procaptcha-reset-notifications {
	grid-area: reset-notifications;
}

.procaptcha-section-keys + table tbody tr th {
	padding: 0 0 10px 0;
}

.procaptcha-section-keys + table tbody tr td input {
	width: 100%;
}

/* Section Appearance */
.procaptcha-section-appearance + table tbody {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px 20px;
	padding: 15px 20px;
}

.procaptcha-section-appearance + table tbody tr th {
	padding: 0 0 10px 0;
	width: auto;
}

.procaptcha-section-appearance + table tbody tr td select {
	width: 100%;
}

/* Section Custom */
.procaptcha-section-custom + table tbody {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px 20px;
	padding: 15px 20px;
}

.procaptcha-section-custom + table tbody tr th {
	padding: 0 0 10px 0;
	width: auto;
}

.procaptcha-section-custom + table tbody tr td {
	width: max-content;
}

.procaptcha-section-custom + table tbody tr.procaptcha-general-config-params td {
	width: auto;
}

.procaptcha-section-custom + table tbody tr td textarea {
	width: 100%;
}

/* Section Enterprise */
.procaptcha-section-enterprise + table tbody {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px 20px;
	padding: 15px 20px;
}

.procaptcha-section-enterprise + table tbody th {
	width: auto;
}

.procaptcha-section-enterprise + table tbody tr th {
	padding: 0 0 10px 0;
}

.procaptcha-section-enterprise + table tbody tr td input {
	width: 100%;
}

/* Section Other */
.procaptcha-section-other + table tbody {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"logged whitelisted"
		"recaptcha whitelisted"
		"network whitelisted"
		"login-limit login-interval"
		"delay .";
	gap: 0 20px;
	padding: 15px 20px;
}

.procaptcha-section-other + table tbody tr.procaptcha-general-off-when-logged-in {
	grid-area: logged;
}

.procaptcha-section-other + table tbody tr.procaptcha-general-recaptcha-compat-off {
	grid-area: recaptcha;
}

.procaptcha-section-other + table tbody tr.procaptcha-general-login-limit {
	grid-area: login-limit;
	padding-top: 15px;
}

.procaptcha-section-other + table tbody tr.procaptcha-general-login-interval {
	grid-area: login-interval;
	padding-top: 15px;
}

.procaptcha-section-other + table tbody tr.procaptcha-general-whitelisted-ips {
	grid-area: whitelisted;
}

.procaptcha-section-other + table tbody tr.procaptcha-general--network-wide {
	grid-area: network;
}

.procaptcha-section-other + table tbody tr.procaptcha-general-delay {
	grid-area: delay;
	padding-top: 15px;
}

.procaptcha-section-other + table tbody tr th {
	padding: 0 0 10px 0;
	width: auto;
}

.procaptcha-section-other + table tbody tr.procaptcha-general-recaptcha-compat-off th,
.procaptcha-section-other + table tbody tr.procaptcha-general--network-wide th {
	padding: 0;
}

.procaptcha-section-other + table tbody tr td {
	width: max-content;
}

.procaptcha-section-other + table tbody tr.procaptcha-general-whitelisted-ips td,
.procaptcha-section-other + table tbody tr.procaptcha-general-login-limit td,
.procaptcha-section-other + table tbody tr.procaptcha-general-login-interval td,
.procaptcha-section-other + table tbody tr.procaptcha-general-delay td {
	width: auto;
}

.procaptcha-section-other + table tbody tr td textarea,
.procaptcha-section-other + table tbody tr td input {
	width: 100%;
}

/* Section Statistics */
.procaptcha-section-statistics + table tbody {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"statistics collect-ip"
		"statistics collect-ua";
	gap: 0 20px;
	padding: 15px 20px;
}

.procaptcha-section-statistics + table tbody tr.procaptcha-general-statistics {
	grid-area: statistics;
}

.procaptcha-section-statistics + table tbody tr.procaptcha-general-collect-ip {
	grid-area: collect-ip;
}

.procaptcha-section-statistics + table tbody tr.procaptcha-general-collect-ua {
	grid-area: collect-ua;
}

.procaptcha-section-statistics + table tbody tr th {
	padding: 0 0 10px 0;
	width: auto;
}

.procaptcha-section-statistics + table tbody tr.procaptcha-general-collect-ua th {
	padding: 0;
}

.procaptcha-section-statistics + table tbody tr td {
	width: max-content;
}

@media (max-width: 600px) {
	.procaptcha-general table tbody tr td {
		width: auto;
	}

	.procaptcha-section-keys + table tbody {
		grid-template-areas: unset;
	}

	.procaptcha-section-keys + table tbody tr {
		grid-area: unset !important;
	}

	.procaptcha-section-other + table tbody {
		grid-template-areas: unset;
	}

	.procaptcha-section-other + table tbody tr {
		grid-area: unset !important;
	}

	.procaptcha-section-other + table tbody tr.procaptcha-general-whitelisted-ips td {
		width: auto;
	}

	.procaptcha-section-statistics + table tbody {
		grid-template-areas: unset;
	}

	.procaptcha-section-statistics + table tbody tr {
		grid-area: unset !important;
	}
}
